[submodule "CEngine/vendor/spdlog"]
	path = CEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CEngine/yaml-cpp"]
	path = CEngine/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
