[submodule "CEngine/vendor/spdlog"]
	path = CEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CEngine/vendor/yaml-c[["]
	path = CEngine/vendor/yaml-c[[
	url = https://github.com/jbeder/yaml-cpp
